body, html, * {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: #ff87c5;
    font-family: 'Oswald', sans-serif;
}

body {
    background-image: url("./res/softpostfuture-high.png");
    background-size: cover;
    background-repeat: no-repeat;
}

p {
    font-size: 1em;
}

.jumbotron {
    height: 100vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-1 {
    font-size: 54px;
}

.school-panel {
    background-color: white;
}

.experience-panel {
    background-color: #ff87c5;
}

.psbb-panel {
    background-color: #87f6ff;
    flex-direction: column;
    justify-content: space-evenly;
}

.tohru-panel {
    background-color: #ff87c5;
    flex-direction: column;
    justify-content: space-evenly;
}

.hackbot-panel {
    background-color: white;
    flex-direction: column;
    justify-content: space-evenly;
}

.footer {
    background-color: #ffef87;
    height: 4vh;
    width: 100%;
    text-align: center;
    color: gray;
}

.card {
    text-align: left;
    border-radius: 2px;
    box-shadow: 3px 3px 3px 3px black;
    width: 50vw;
    padding: 20px;
}

@media(min-width: 1000px) {
    .card {
        width: 50vw;
    }
    .jumbotron-image {
        width: 50vw;
    }
}

@media(max-width: 1000px) {
    .card {
        width: 75vw;
    }
    .jumbotron-image {
        width: 75vw;
    }
}

@media(max-width: 600px) {
    .card {
        width: 90vw;
    }
    .jumbotron-image {
        width: 90vw;
    }
}

.background-white {
    background-color: white;
}

ul {
    list-style-position: inside;
}

.indent {
    padding-left: 2em;
}