body, html, * {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    /* background-color: #ff8282; */
    background-color: #111;
    font-family: 'VT323', monospace;
}

p {
    font-size: 1em;
}

.container {
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.card-border {
    border-radius: 5px;
    border: 1px solid black;
}

.card {
    padding: 10px;
    display: flex;
    align-items: center; 
    flex-direction: row;
    background-color: white;
}

.pfp-container {
    float: left;
    margin-right: 20px;
}

#pfp {
    width: 12em;
    float: left;
}

@media (max-width: 620px) {
    .card {
        flex-direction: column;
    }
    .pfp-container {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
