@import url(https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap);
body {
    margin: 0;
    font-family: Roboto Mono, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat
}

@media only screen and (max-width:600px) {
    body {
        background-image: url(static/media/no-digging-white-mobile-min.ee0a045e.png);
        background-size: 100vw cover;
        background-position: center -500px
    }
}

@media only screen and (min-width:600px) {
    body {
        background-image: url(static/media/no-digging-white-desktop-min.db079b69.png);
        background-size: 100vw;
        background-position: top
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

.cards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #fff;
    border-top: 2px solid #000;
    padding-top: 20px
}

@media only screen and (min-width:1000px) {
    .langs {
        display: flex;
        flex-direction: row;
        flex-wrap: row wrap;
        justify-content: space-around
    }
    .lang-nameplate {
        width: 30vw
    }
    .lang-box {
        width: 45%
    }
}

@media only screen and (max-width:1000px) {
    .langs {
        display: flex;
        flex-direction: column;
        align-items: center
    }
    .lang-nameplate {
        width: 80vw
    }
    .lang-box {
        width: 100%
    }
}

.logo-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.titlebar {
    width: 100vw
}

.footer-spiral {
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center
}

@media only screen and (min-width:1000px) {
    .img-spiral {
        width: 200px
    }
}

@media only screen and (min-width:500px) and (max-width:1000px) {
    .img-spiral {
        width: 20vw
    }
}

@media only screen and (max-width:500px) {
    .img-spiral {
        width: 100px
    }
}

.footer {
    width: 100%;
    text-align: center
}

@media only screen and (min-width:2000px) {
    h1 {
        font-size: 4em
    }
    h2 {
        font-size: 3em
    }
    h3 {
        font-size: 2em
    }
    li, p {
        font-size: 1.5em
    }
}

b {
    font-size: 1.1em
}

.transition-in, .transition-out {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1
}

.transition-out {
    -webkit-animation-name: fadeout;
    animation-name: fadeout
}

.transition-in {
    -webkit-animation-name: fadein;
    animation-name: fadein
}

@-webkit-keyframes fadeout {
    0% {
        color: #000
    }
    to {
        color: transparent
    }
}

@keyframes fadeout {
    0% {
        color: #000
    }
    to {
        color: transparent
    }
}

@-webkit-keyframes fadein {
    0% {
        color: transparent
    }
    to {
        color: #000
    }
}

@keyframes fadein {
    0% {
        color: transparent
    }
    to {
        color: #000
    }
}

.info-card {
    width: 80vw
}

.info-card>h2 {
    font-size: 2em
}

.jumbotron {
    height: 100vh;
    display: flex;
    align-items: center
}

.jumbotron>.content {
    width: 100vw;
    padding: 20px;
    text-align: center
}

@media only screen and (min-width:1000px) {
    .jumbotron {
        justify-content: flex-start
    }
}

@media only screen and (max-width:1000px) {
    .jumbotron {
        justify-content: center
    }
}

.jumbotron>.content>h1 {
    font-size: 2.5em
}

.jumbotron>.content>*>h2 {
    font-size: 2em
}

@media only screen and (min-width:2000px) {
    .jumbotron>.content>h1 {
        font-size: 3.5em
    }
    .jumbotron>.content>*>h2 {
        font-size: 3em
    }
}

.logo-link {
    margin: 10px
}

@media only screen and (min-width:1000px) {
    .logo-link-img {
        width: 60px
    }
}

@media only screen and (max-width:1000px) {
    .logo-link-img {
        width: 50px
    }
}

/*# sourceMappingURL=main.1e3f7be9.chunk.css.map */