.transition-out, .transition-in {
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: normal;
    animation-iteration-count: 1;
}
.transition-out {
    animation-name: fadeout;
}
.transition-in {
    animation-name: fadein;
}

@keyframes fadeout {
    from {
        color: black;
    }
    to {
        color: rgba(0, 0, 0, 0);
    }
}

@keyframes fadein {
    from {
        color: rgba(0, 0, 0, 0);
    }
    to {
        color: black;
    }
}